.google-login-button {
  display: flex;
  max-width: 300px;
  align-items: center;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.google-login-button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.google-login-button:hover {
  background: #f5f5f5;
} 